ngb-carousel .picsum-img-wrapper {
  position: relative;
  height: 200;
  padding-top: 25%; /* Keep ratio for 900x500 images */
}

ngb-carousel .picsum-img-wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

h3 {
  color: #00ff00;
  font-size: larger;
}
